<mat-toolbar class="toolbar" color="primary">
  <div class="toolbar-button-container">
    <button class="toolbar-button" mat-icon-button routerLink="/fases" aria-label="Voltar">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="toolbar-title-container">
    <mat-icon>clock</mat-icon>
    <span class="toolbar-title">Desafio 1</span>
  </div>
</mat-toolbar>

<div class="partida-container">

  <!--game-->
  <div class="mapa-game-container">
     <canvas #myCanvas height="400" width="960"></canvas>
<!--    <canvas #myCanvas ></canvas>-->
  </div>

  <div class="game-controls-container">



      <div class="direction-controls-container">
        <h3>comandos</h3>
        <div class="direction-controls">
          <div class="control-box" draggable="true" (dragstart)="onDragStart($event, 'up')"><img src="../../assets/icons/Cima.svg"></div>
          <div class="control-box" draggable="true" (dragstart)="onDragStart($event, 'down')"><img src="../../assets/icons/Baixo.svg"></div>
          <div class="control-box" draggable="true" (dragstart)="onDragStart($event, 'left')"><img src="../../assets/icons/Esquerda.svg"></div>
          <div class="control-box" draggable="true" (dragstart)="onDragStart($event, 'right')"><img src="../../assets/icons/Direita.svg"></div>
        </div>
      </div>

      <div class="command-controls-container">
        <div class="command-contols-title-and-container">
          <h3>main</h3>
          <div class="command-controls" (drop)="onDrop($event, 'main')" (dragover)="onDragOver($event)">
            <div class="command-box" *ngFor="let command of commands; let i = index" (dragstart)="onDragStart($event, command)" draggable="true">
              <img [src]="getCommandImage(command)">
            </div>
          </div>
        </div>
        <button class="delete-button" mat-raised-button color="warn" (click)="deleteLastCommand()"><mat-icon>delete</mat-icon></button>
      </div>
      <div class="play-controls-container">
        <button class="play-button" mat-raised-button color="primary" (click)="startAnimations()"><mat-icon>play_arrow</mat-icon></button>
      </div>
  </div>
</div>
