<mat-dialog-content class="container-sucess">
  <div class="container-sucess-content">
    <img class="container-sucess-img" src="assets/icons/🦆%20icon%20_certified_.png">
    <div class="container-sucess-text">{{data.title}}</div>
  </div>
  <mat-dialog-actions class="button-container">
    <button class="buttons" routerLink="/fases" mat-button mat-dialog-close><mat-icon>home</mat-icon></button>
    <button class="buttons" routerLink="/funcao2" mat-button mat-dialog-close><mat-icon>refresh</mat-icon></button>
<!--    <button class="buttons" routerLink="/funcao" mat-button mat-dialog-close><mat-icon>play_arrow</mat-icon></button>-->
  </mat-dialog-actions>
</mat-dialog-content>
